<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Приложение "Weld prediction"</h1>
<h2>Прогнозирование размеров сварного шва</h2>
<h2>по параметрам:</h2>
    <p>Сварочный ток (IW)</p>
    <p>Ток фокусировки электронного пучка (IF)</p>
    <p>Скорость сварки (VW)</p>
    <p>Расстояние от поверхности образцов до электронно-оптической системы (FP)</p>
    <p>________________________________</p>
    <p>Введите данные:</p>

<form action="" method="post">
    <p>
        <label for="iw">&nbsp;IW&nbsp;</label>
        <input type="number" name="iw">
    </p>
    <p>
        <label for="if_">&nbsp;&nbsp;IF&nbsp;</label>
        <input type="number" name="if_">
    </p>
    <p>
        <label for="vw">VW</label>
        <input type="number" name="vw">
    </p>
    <p>
        <label for="fp">&nbsp;FP&nbsp;</label>
        <input type="number" name="fp">
    </p>
    <p>
        <input type="submit">
    </p>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}


</form>

</body>
</html>